article {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.article_main {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}
.payimg_con {
  width: 150px;
  height: 196px;
}
.payimg_con > img {
  display: flex;
  width: 150px;
  height: 196px;
}
