// compress: true, sourceMap: true
body {
    display: flex;
    flex-direction: column;
    background-color: #ededf7;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color: #828f97;

    h1 {
        font-weight: lighter;
        color: #3f4b57;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 12px;
    }

    .download_content {
        display: flex;
        margin: 10px;
    }

    a {
        // display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        margin: 10px;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        border-radius: 4px;
        // color: #424649;
        color: rgb(211, 211, 211);
        background-color: #424649;
        text-align: center;
        text-decoration: none;

        img {
            display: block;
            margin-right: 6px;
        }
    }
}

footer {
    text-align: center;
    color: #aaa;
    font-size: 12px;
}